<style type="text/css">
    body{
        font-family:Calibri, Verdana, Tahoma, Arial
    }
    .navBar{
        height:auto;
        overflow:hidden;
    }

    .grupo{
        height:auto;
        border:solid 1px;
    }

    .titulo{
        padding:5px;
        height:20px;
    }

    .conteudo{
        display:none;
        padding:5px;
    }

    .cabecalho{
        border:solid 1px;
        border-radius:5px 5px 0 0;
        padding: 5px;
        height:20px;
        background: rgb(112, 156, 190)
    }

    .rodape{
        border:solid 1px;
        border-radius: 0 0 5px 5px;
        padding: 5px;
        height:20px;
        background: rgb(112, 156, 190);
    }
</style>
